*{
    margin: 0%;
    padding: 0%;
}

body{
    min-height: 100vh;
    font-family: 'dubai medium';
    margin: 0;
    align-items: center;
    background-color: rgb(33, 33, 33);
    color:aliceblue;
    background-image: linear-gradient(#301E67, black, black, black);
}

#titulo0{
    font-size: 45px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 60px;
    text-align: center;
}

/*Banner / Carrossel Css */ 
.carrossel {
    width: 940px;
    height: 570px;
   overflow: hidden;
    outline: 3px solid cyan;
    margin: 50px auto;
}

.carrossel ul{
    display: flex;
    list-style: none;
    width: 3760px;
    height: 570px ;
}

.carrossel li{
    position: relative;
    animation: slide 15s infinite ease-in-out;
}

@keyframes slide{
    0%{left: 0px}
    30%{left: -940px}
    60%{left: -1880px}
    90%{left: -2820px}
    120%{left: -3760px}
}

/*fim banner */

/*cards*/

.cards{
    display: flex;
}


.c1 {
    width: 30%;
    height: 10%;
    overflow: hidden;
    margin: 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
-moz-box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
}

.c1:hover{
    width: 35%;
    background-color: white;
    transition: 0.5s;
}

.linkcard1{
    text-decoration: none;
}

.card1 {
    display: flex;
}

#tloumini {
    margin: 5px;
    width: 30%; 
    height: 100%; 
    border-radius: 5px;
}

.textcard1 {
    margin: 5%;
    color:#71698b;
}

.c2 {
    width: 30%;
    height: 10%;
    overflow: hidden;
    margin: 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
-moz-box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
}

.c2:hover{
    width: 35%;
    background-color: white;
    transition: 0.5s;
    
}

.linkcard2{
    text-decoration: none;
}

.card2 {
    display: flex;
}

#Euphoriamini {
    margin: 5px;
    width: 30%; 
    height: 100%; 
    border-radius: 5px;
}

.textcard2 {
    margin: 5%;
    color:#71698b;
}

.c3 {
    width: 30%;
    height: 10%;
    overflow: hidden;
    margin: 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
-moz-box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
box-shadow: 0px 0px 17px 8px rgba(113,105,139,1);
}

.c3:hover{
    width: 35%;
    background-color: white;
    transition: 0.5s;
    
}

.linkcard3{
    text-decoration: none;
}

.card3 {
    display: flex;
}

#BBmini {
    margin: 5px;
    width: 30%; 
    height: 100%; 
    border-radius: 5px;
}

.textcard3 {
    margin: 5%;
    color:#71698b;
}


/*poster*/
.posters{
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-posters{
            background: white;
            border-radius: 8px;
}

.container

.card-posters .image-box{
    height: 200px;
}

.card-posters .image-box .imgp{
    height: 100%;
    border-radius: 8px 8px 0 0;
}

