body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(48, 30, 103, 1) 100%);
    font-family: 'dubai medium';
    margin: 0;
    padding: 0;
}

#titulotext {
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #5B8FB9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 20px;
}

label {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

#painel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

input {
    width: 50%;
    margin: auto;
    height: 25px;
    border-radius: 10px;
    font-size: 25px;
}

#adicionar {
    margin-top: 15px;
    width: 20%;
    text-align: center;
    background-color: white;
    color: #03001C;
    border-radius: 10px;
    height: 40px;
    transition: 1s;
    font-size: 25px;
}

#adicionar:hover {
    background-color: #03001C;
    color: white;
    transition: 1s;
}


#footer {
    margin-top: 20%;
    bottom: 0;
    left: 0;
}