<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../detalhes/Pantera Negra.css">
    <link rel="shortcut icon" href="../../assets/images/logotitico.png" type="image/x-icon">
    <title>Comentarios</title>
</head>

<body>
    <iframe href src="../../header.html" frameborder="0" scrolling="no" width="100%"></iframe>
    <div id="tituloinicio">
        <h1>Pantera Negra</h1>
    </div>
    <p>
        <li>Lançamento: 2018</li>
        <li>Duração 2h 15m</li>
        <li>Classificação indicativa 14 anos. Contém violência.</li>
    </p>
    </div>
    <div id="info">
        <div id="poster">
            <section>
                <img id="capa" src="../../../pages/modelos/imagensmodelo/download.jfif">
            </section>
        </div>
        <div id="trailer">
            <!--colocar "embed" no link e tirar o "watch"-->

            <iframe src="https://www.youtube.com/embed/wL4a4MafSjQ" frameborder="0" width="600" height="340"></iframe>
        </div>
    </div>
    <nav id="generos">
        <ul>
            <li><a href="#" target="_parent" id="generos">Ação</a></li>
            <li><a href="#" target="_parent" id="generos">Aventura</a></li>
            <li><a href="#" target="_parent" id="generos"></a></li>
        </ul>
    </nav>
    <hr>
    <div id="filmeinfo">
        <section>
            <h1 class="texto2">Sinopse</h1>
            <p class="texto2">Conheça a história de T'Challa, príncipe do reino de Wakanda, que perde o seu pai e viaja para os Estados Unidos, onde tem contato com os Vingadores. Entre as suas habilidades estão a velocidade, inteligência e os sentidos apurados.</p>
                <hr>                                                                                                                             
            <h1 class="texto2">Criação</h1>
            <p class="texto2">Diretor: Ryan Coogler
                Bilheteria: 1,344 bilhão USD
                Orçamento 250 milhões US$
            </p>
        </section>
    </div>
    <hr>
    <div id="where">
        <h1 id="titulowhere">onde assistir</h1>
        <ul id="channels">
            <div>
                <img src="../imagensmodelo/amz.png" alt="a" class="ondeass">
                <li>Alugar/Comprar</li>
            </div>
            <div>
                <img src="../imagensmodelo/netflix.png" alt="a" class="ondeass">
                <li>Assinatura</li>
            </div>
            <div>
                <img src="../imagensmodelo/hbo.jpg" alt="a" class="ondeass">
                <li>Alugar/Comprar</li>
            </div>
    </div>
    <hr>
    <!--a partir daqui sao as reviews, copiem e colem a review de vcs nos ps-->
    <h1>Reviews</h1>
    <div class="caixa">
        <section>
            <div class="comentario">
                <img id="pfp" src="../imagensmodelo/user.png">
                <div>
                    <h1 class="nomecomentario">Kyan Latrel</h1>
                    <p class="reviewetc">Dizem que é um filme ruim, mas quando assisti a primeira vez e todas as outras vezes, eu gostei bastante por enaltecer as vidas negras e colocarem ela como personagem principal, e colocarem esses personagens como heróis, pois, na maior parte dos filmes colocam elas como vilões ou bandidos
                    </p>
                </div>
            </div>
        </section>
        </div>
        <div class="caixa">
            <section>
                <div class="comentario">
                    <img id="pfp" src="../imagensmodelo/user.png">
                    <div>
                        <h1 class="nomecomentario">Derek Luccas</h1>
                        <p class="reviewetc">Filme Perfeito em todos quesitos! Equilibrado não ficou devendo me nada um ótimo roteiro, resgata os valores da cultura Afro-Marvel, Pantera Negra é Cheio de referencias históricas e culturais Africanas ressaltando a importância desse povo maravilhoso seja no Mundo  ou multi verso Marvel ! WAKANDA FOREVER!
                        </p>
                    </div>
                </div>
            </section>
            </div>
            <iframe src="../../footer.html" frameborder="0" scrolling="no" width="100%"></iframe>
</body>

</html>