body {
    font-family: 'dubai medium';
    background-image: linear-gradient(#6e5930, black, black);
    color: aliceblue;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

li:hover {
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
}

#filmeinfo {
    color: aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 5%;
    padding-right: 3%;
    display: flex;
    width: auto;
}

.texto2 {
    padding: 1%;
}

#info {
    display: flex;
    justify-content: center;
}

#capa {
    width: 100%;
    max-width: 265px;
    height: auto;
    margin: 0%;
}

.caixa {
    color: aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 5%;
    padding-right: 3%;
    display: flex;
    width: auto;
}

#generos ul {
    margin-left: 20%;
}

#generos {
    text-decoration: none;
    color: #ffffff;
}

.ondeass {
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    max-width: 45px;
    max-height: 45px;
}

li {
    margin-left: 1%;
    text-align: center;
    padding: 1%;
}

#where {
    text-align: center;
    justify-content: center;
}

#channels {
    justify-content: center;
}

.comentario {
    display: flex;
    margin: 1%;
}

.nomecomentario {
    margin-top: 0px;
    margin-left: 1%;
}

#pfp {
    width: 5%;
    height: 5%;
}

hr {
    opacity: 0.2;
    outline: none;
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 768px) {
    /* Estilos para telas menores */
    #hd {
      width: 130%;
      margin: -2%;
      margin-left: -4%;
    }
    #generos ul {
      margin-left: 0;
    }
    #where {
      text-align: center;
    }
    #channels {
      text-align: center;
    }
    .caixa,
    #filmeinfo {
      flex-direction: column;
      align-items: center;
    }
    #capa {
      max-width: 100%;
      height: auto;
    }
    .ondeass {
      width: 10vw;
      height: 10vw;
      max-width: 80px;
      max-height: 80px;
    }
  }