<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Velozes e Furiosos 2.css">
    <link rel="shortcut icon" href="../../assets/images/logotitico.png" type="image/x-icon">
    <title>Comentarios</title>
</head>

<body>
    <iframe href src="../../header.html" frameborder="0" scrolling="no" width="100%"></iframe>
    <div id="tituloinicio">
        <h1>+ Velozes + Furiosos</h1>
    </div>
    <p>+ Velozes + Furiosos; 2003; +14; 1hora e 47minutos.</p>
    </div>
    <div id="info">
        <div id="poster">
            <section>
                <img id="capa" src="../../../assets/images/2_Fast_2_Furious.jpg">
            </section>
        </div>
        <div id="trailer">
            <!--colocar "embed" no link e tirar o "watch"-->

            <iframe src="https://www.youtube.com/embed/ONs4_PtakGc" frameborder="0" width="600" height="340"></iframe>
        </div>
    </div>
    <nav id="generos">
        <ul>
            <li><a href="#" target="_parent" id="generos">Aventura</a></li>
            <li><a href="#" target="_parent" id="generos">Crime</a></li>
            <li><a href="#" target="_parent" id="generos">Suspense</a></li>
        </ul>
    </nav>
    <hr>
    <div id="filmeinfo">
        <section>
            <h1 class="texto2">Sinopse</h1>
            <p class="texto2">Velozes e Furiosos 2 continua a historia do agora ex-policial Brian O'conner que se muda
                De Los
                Angeles para Miami para recomeçar agora como corredor profissional de racha que vence
                praticamente todas só que em uma dessas corridas/fuga da policia ele bate e é pego e tem a opção
                de ser preso ou se juntar novamente com a policiar para prender Carter Verone ele aceita com a
                condição de chamar um amigo conhecido como Roman Pearce ele aceita pois caso completem o
                trabalho ele será solto e livre no meio disso eles conhecem uma agente chamada Monica onde ajuda
                eles e os da carros o desafio para trabalharem para verone terão que correr achar uma Ferrari e
                pegar um pacote eles conseguem o pacote e começam a trabalhar para ele e o desafio de prende-lo
                começa.
            </p>
            <hr>
            <h1 class="texto2">Criação</h1>
            <p class="texto2">Gary Scott Thompson
            </p>
        </section>
    </div>
    <hr>
    <div id="where">
        <h1 id="titulowhere">onde assistir</h1>
        <ul id="channels">
            <div>
                <img src="../../../assets/images/appletv.jfif" alt="a" class="ondeass">
                <li>Apple TV</li>
            </div>
            <div>
                <img src="../../../assets/images/Amazonprimelogo.webp" alt="a" class="ondeass">
                <li>prime videos</li>
            </div>
            <div>
                <img src="../../../assets/images/download.png" alt="a" class="ondeass">
                <li>Amazon Video</li>
            </div>
    </div>
    <hr>
    <!--a partir daqui sao as reviews, copiem e colem a review de vcs nos ps-->
    <h1>Reviews</h1>
    <div class="caixa">
        <section>
            <div class="comentario">
                <img id="pfp" src="../../../assets/images/Renan.jpg">
                <div>
                    <h1 class="nomecomentario">Renan</h1>
                    <p class="reviewetc">É uma boa continua com novos carros personagem e uma historia nova já que se passa alguns anos
                        após o primeiro filme onde o desafio é prender o carter a todos custo e libertar o Roman que é
                        muito legal que ele mora em um trailer e trabalhava em um local de bater os carros e o ultimo
                        andando ganha e ainda conhecemos o melhor amigo do protagonista    
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class="caixa">
        <section>
            <div class="comentario">
                <img id="pfp" src="../../../assets/images/Carlos.jpg">
                <div>
                    <h1 class="nomecomentario">Carlos</h1>
                    <p class="reviewetc">Pode até talvez ser uma boa continuação mas praticamente todos os personagens sumiu veio alguns
                        novos porem policiais secundários a monica e o roman são legais mas não melhores que a mia e o
                        torreto são decentes tirando a monica que ela até pode ser legal mas serve só pra ser uma
                        personagem usada pelo corpo e como princesinha em perigo.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <iframe src="../../footer.html" frameborder="0" scrolling="no" width="100%"></iframe>
</body>

</html>