<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylefeedback.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/images/logotitico.png">
    <title>Feedback</title>
<link rel="stylesheet" href="../assets/css/headernova.css">
</head>
<html>
<body>
    
    <!--Header-->
    <header>

        <!--Logo-->
        <div id="logodiv">
            <a href="../index.html" class="logo">
                <img id="logo" src="../assets/images/vexxlogobranco.png" alt="logo do site">
            </a>

            <!--DropDown-->
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>

            <!--Navegation-->
            <div class="dropdown-content">
                <a href="./../index.html" target="_parent">Home</a></li>
                <a href="./../pages/categorias.html" target="_parent">categorias</a>
                <a href="../layouts/feedback.html" target="_parent">Feedback</a>
                <a href="../pages/contato.html" target="_parent">Contato</a>
                <a href="../pages/sobrenos.html" target="_parent">Equipe</a>
                <a href="../pages/VexxSub.html" target="_parent">Vexxsub</a>
                <a href="../pages/contatologin.html" target="_parent">Log-in</a>
                <a href="../pages/paginaadministrativa.html" target="_parent">Painel</a>
            </div>
        </div>
    </header>

    <form action="./../pages/feedbacksucess.html">
          <!--formularios-->
          <div class="card">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <div class="signin">
                        <form action="../../layouts/modelos/contatologin.html">
                        <h2>Deixe seu feedback</h2>
                        <div class="form">
                            <input type="text" placeholder="Nome" required>
                            <input type="email" placeholder="E-mail" required>
                            <input type="text" placeholder="Deixe seu comentário" required>
                            <button id="enviar" onclick="signin()" id="botao">Enviar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <!--formularios-->
       
    </form>
    <iframe src="../layouts/footer.html" frameborder="0" scrolling="no" width="100%" id="footer"></iframe>
</body>

</html>
