<!DOCTYPE html>
<html lang="en">
<head>
    <title>footer</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <div class="card">
        <footer>
            <p class="p1">Todos direitos reservados © 2023</p>
           <img id="logo" src="../assets/images/vexxtvlogo.png" width="50px" height="50px">
            <a target="_parent" target="_blank" href="https://linktr.ee/equipe2vexx">
                <img id="linktree" src="../assets/images/linktree.png">
            </a>
    </footer>
    </div>
</body>
</html>