body{
    font-family: 'dubai medium';
    background-image: linear-gradient(#7c3f95,black, black);
    color:aliceblue;
    margin: 0;
    padding: 0;
}
.comentario{
    display: flex;
    margin: 10px;
}
#pfp{
    width: 15%;
    height: 15%;
    border-radius: 100px;
    padding-right: 10px;
}
.nomecomentario{
    margin-top: 0px;
    margin-left: 10px;
}
.caixa{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
    margin-bottom: 130px;
}
