:root {
	--primary: #03001C;
	--secondary: #301E67;
    --tertiary: #5B8FB9;
    
	--dark: #212121;
	--light: #f3f3f3;

    --white: #fff;

    

    --background-image: url("../images/background.jpg")
	
}

@font-face {
    font-family: Poppins;
    src: url(css/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: cover;
    background-image: linear-gradient(#301E67, #301E67,black,black);
    text-decoration: none;
}

img {
	margin-top: 10px;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	filter: invert(100%);
	content: url(../images/sound_on.svg);
}

img.is-off {
				content: url(../images/sound_off.svg);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.signin, .signup {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;

    color: var(--white);
}

.form input{
    width: 80%;
    outline: none !important;
    border: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    justify-content: center;
}

.form input:focus{
    filter: brightness(110%);
}

button{
    font-size: 1rem;
    margin-top: 0.3rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: var(--white);
    background-image: linear-gradient(to bottom right, var(--secondary), var(--tertiary));
}

button:hover{
    filter: brightness(110%);
}

.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: var(--white);
}

.member a{
    text-decoration: none;
}

.member a:hover{
    color: var(--dark);
    cursor: pointer;
}

.signup .member a:hover{
    filter: invert();
}

.card {
	margin: 100px auto 0;
	width: 400px;
	height: 400px;
	perspective: 1000px;
}

.card__inner {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	position: relative;
}

.card__inner.is-flipped{
	transform: rotateY(180deg);
}

.card__face{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);	
}

.card__face--front{
	background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
	color: var(--light);
	display: flex;
	justify-content: center;
}

.card__face--back {
	color: var(--light);
	background-color: var(--dark);
	transform: rotateY(180deg);

	display: flex;
	justify-content: center;
}
