* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'dubai medium';
    background-image: linear-gradient(black,black, black);
    color:aliceblue
}
/*body*/
.card2{
    border-left: 5px solid rgb(128, 55, 128);
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    text-decoration: none;
    color: white;
}
/*carrossel*/
.galery {
    overflow: hidden;
}
/*carrossel fotos*/
.galery .fotos {
    width: 501%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
/*carrossel fotos*/
.galery .fotos img {
    width: 19.9%;
    background-color: whitesmoke;

}
/*aside*/
.asaide{
    flex-direction: column;
    display: flex;
}
/*veja*/
.veja {
    display: flex;
}
/*main*/
.main {
    display: flex;
    align-items: center;
}
/*veja img*/
.vejaimg {
    width: 200px;
    height: 100px;
}
hr{
    opacity: 0.2;
    outline: none;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.imagemdestaque{
    width: 20%;
    height: 20%;
    padding-right: 20px;
}
.destaque1{
    display: flex;
}
.main {
    display: flex;
    align-items: center;
}
.imagemdestaque2{
    width: 12%;
    height: 12%;
    padding-top: 20px;
}