body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-image: linear-gradient(#301E67, black, black, black);
}

#titulo {
    color: aliceblue;
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background-color: #5B8FB9;
}

section .card .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

.card {
    position: relative;
    border-radius: 20px;
    background: #301E67;
    width: 280px;
    margin: 10px;
   
}

.card .card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background-color: #B6EADA;
    border-radius: 20px 20px 0 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.card .media-icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    margin-top: 5px;
    color: rgb(33, 33, 33);
    transition: all 0.3s ease;
    cursor: pointer;
}


.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    color: #B6EADA;
    font-size: 18px;
    margin: 0 2px;
}

.card .button {
    justify-content: center;
    margin-top: 20px;
}

.card .button button {
    background: #B6EADA;
    outline: none;
    border: none;
    color: black;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background: #5B8FB9;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fachada {
    text-align: center;
    margin: 0;
    padding: 0;
}

#bannerfachada {
    width: 90%;
    height: 400px;
    text-align: center;
    margin: 10px;
}

#banner {
    width: 70%;
    height:80%;
    margin-top: 7%;
    margin-bottom: -5%;
    
}

h1{
    color: white;

}

p{
    color: white;
    text-align: center;
}

#footer {
    margin-top: 20%;
    bottom: 0;
    left: 0;
}

@media (max-width: 600px) {
   #banner{
   margin-bottom: 30%;
   }
   #bannerfachada {
height: 200px;
width: 90%;
}
}