body{
    font-family: 'dubai medium';
    background-image: linear-gradient(#7c3f95,black, black);
    color:aliceblue;
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
#filmeinfo{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
.texto2{
    padding: 10px;
}
#info{
    display: flex;
    justify-content: center;
}
#capa{
    width: 265px;
    height: 340px;
    margin: 0%;
}
.caixa{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
#generos ul{
 margin-left: 250px;
}
#generos{
    text-decoration: none;
    color:#ffffff;
}
.ondeass {
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
li {
    margin-left: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}
#where{
    text-align: center;
    justify-content: center;
}
#channels{
    justify-content: center;
    padding: 0;
}
.comentario{
    display: flex;
    margin: 10px;
}
.nomecomentario{
    margin-top: 0px;
    margin-left: 10px;
}
#pfp{
    width: 5%;
    height: 5%;
    border-radius: 50px;
}
hr{
    opacity: 0.2;
    outline: none;
}
#titulo{
    font-size: 400%;
}
h1{
    padding-left: 30px;
}


        /* Responsivo */
        @media (max-width: 600px) {
            body {
                overflow-x: hidden;
                font-size: 20px;
            }

            #trailer{
                
                width: 80%;
                height: 30%;
            }

            #tituloinicio h1 {
                text-align: center;
                font-size: 24px;
                margin-bottom: -5%;
            }

            ul {
                display: inline;
                margin-left: 0%;
            }

            li {
                text-align: left;
                padding: 0;
                margin: 10px;
                text-align: left;
                font-size: 23px;
            }

            #generos ul {
                margin-left: 0;
                padding: 0;
            }

            #filmeinfo {
                flex-direction: column;
                padding-right: 10px;
                width: auto;
              
            }

            #capa {
                width: 100%;
                height: auto;
                margin-left: 21%;
            }

            #info{
                display: inline;
            }

            #capa{
                align-items: center;
                width: 60%;
            }

            .caixa {
                flex-direction: column;
                margin: 20px;
                padding-right: 10px;
                width: auto;
            }
             section{
                margin-left: 5%;
             }
        }