body{
    color: #ffffff;
    font-family: 'dubai medium';
    background-image: linear-gradient(#ff619e,black, black);
    color:aliceblue;
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
h1{
    margin: 10px;
}
#filmeinfo{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
.texto2{
    padding: 10px;
}
#info{
    display: flex;
    justify-content: center;
}
#capa{
    width: 265px;
    height: 340px;
    margin: 0%;
}
.caixa{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
#generos ul{
 margin-left: 250px;
}
#generos{
    text-decoration: none;
    color:#ffffff;
}
.ondeass {
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
li {
    margin-left: 5px;
    text-align: center;
    padding: 10px;
}
#titulo{
    font-size: 400%;
}
#titulowhere{
    padding: 0;
}
#where{
    text-align: center;
    justify-content: center;
}
#channels{
    justify-content: center;
    padding: 0;
}
.comentario{
    display: flex;
    margin: 10px;
}
.nomecomentario{
    margin-top: 0px;
    margin-left: 10px;
}
#pfp{
    width: 5%;
    height: 5%;
    border-radius: 50px;
}
hr{
    opacity: 0.2;
    outline: none;
}
#trailertext {
    margin: 10px;
    font-size: 40px;
    display: none;
    text-align: center;
}

#logoytb {
    display: none;
}


@media (max-width: 768px) {
    h1 {
        font-size: 25px;
        margin: 0 10px;
    }

    #info {
        flex-direction: column;
    }

    li {
        text-align: left;
        padding: 0;
        margin: 10px;
        font-size: 23px;
    }

    ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #ytmini {
        display: none;
    }

    #capa {
        width: 80%;
        height: 160%;
    }

    #poster {
        text-align: center;
    }

    #trailertext {
        display: block;
    }

    #logoytb {
        display: block;
        width: 60%;
        margin: auto;
    }

    #generos ul {
        margin: 0 10px;
    }

    .texto2 {
        font-size: 20px;
        text-align: justify;
    }

    .ondeass {
        width: 100px;
        height: 100px;
    }

    #onde {
        text-align: center;
    }

    #pfp {
        width: 60px;
        height: 60px;

    }

    .nomecomentario {
        font-size: 30px;
    }

    .reviewetc {
        margin: 10px;
        text-align: justify;
        margin-right: -10px;
        font-size: 20px;
    }
}