body{
    font-family: 'dubai medium';
    background-image: linear-gradient(#048206,black, black);
    color:aliceblue;
    padding: 0%;
    margin: 0%;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
li:hover{
     background-color: rgb(54, 54, 54);
        border-radius: 30px;
}
#filmeinfo{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
.texto2{
    padding: 10px;
}
#info{
    display: flex;
    justify-content: center;
}
#capa{
    width: 265px;
    height: 340px;
    margin: 0%;
}
.caixa{
    color:aliceblue;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin: 40px;
    padding-right: 30px;
    display: flex;
    width: auto;
}
#generos ul{
 margin-left: 250px;
}
#generos{
    text-decoration: none;
    color:#ffffff;
}
.ondeass {
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
li {
    margin-left: 5px;
    text-align: center;
    padding: 10px;
}
#where{
    text-align: center;
    justify-content: center;
}
#channels{
    justify-content: center;
}
.comentario{
    display: flex;
    margin: 10px;
}
.nomecomentario{
    margin-top: 0px;
    margin-left: 10px;
}
#pfp{
    width: 5%;
    height: 5%;
}
hr{
    opacity: 0.2;
    outline: none;
    width: 1000px;
}