<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Sucesso</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/logo.png">
    <link href="./../modelos/sucess1.css" rel="stylesheet">
</head>
<body>
    <iframe src="../header.html" frameborder="0" scrolling="no" width="100%"></iframe>
    <img src="../../assets/images/icon_verificado.png" id="verificado1">
    <h1>Obrigado por entrar em contato</h1>
    <form action="../../index.html">
    <button class="button">Volte para home</button>
    </form>
    <iframe src="../footer.html" frameborder="0" scrolling="no" width="100%"></iframe>
</body>
</html>
